header {
  @apply bg-white w-full flex items-center justify-between;
  border-bottom: 1px solid #f1f1f3;
  padding: 12px 132px;

  .nav-links {
    @apply flex justify-between items-center w-full;

    .links {
      @apply flex justify-between items-center gap-8;
      font-family: "Be Vietnam Pro";
      font-size: 0.875rem;
      font-weight: 400;

      span {
        cursor: pointer;
        padding: 12px 24px;
        border-radius: 8px;
        transition: all 0.2s ease-in-out;

        &:hover {
          border-radius: 8px;
          background: #f1f1f3;
        }
      }
    }

    .login-buttons {
      @apply flex justify-between items-center gap-2;
    }

    img {
      @apply w-8 h-8 font-bold size-6;
      border-radius: 8px;
      background: #ff9500;
    }
  }
}

.banner {
  @apply flex justify-center items-center text-white p-3 mt-2 gap-6;
  border-radius: 8px;
  background: #ff9500;
  font-family: "Be Vietnam Pro";
  font-size: 0.875rem;
}
