.card {
  width: 570px;

  .img-wrapper {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    background: var(--Orange-95, #fff4e5);
  }

  .sub-container {
    position: relative;
    display: flex;
    padding: 14px 30px 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 11px;
    border: 1px solid var(--White-95, #f1f1f3);
    background: var(--White-99, #fcfcfd);

    color: var(--Orange-50, #ff9500);
    text-align: center;
    font-family: "Be Vietnam Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    .arrow-image {
      position: absolute;
      left: -30px;
      top: -30px;
    }
  }

  h2 {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-size: 24px;
    line-height: 150%;
  }

  h6 {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

.common-text {
  @apply text-gray-600 text-center leading-6; 
}

/* Heading 2 styling */
h2 {
  @apply common-text text-2xl; /* Additional styles specific to h2 */
}

/* Heading 6 styling */
h6 {
  @apply common-text text-base font-normal; /* Additional styles specific to h6 */
}
