@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  background: #f7f7f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 1rem;
}

p {
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 1rem;
}
